Parser fails if input contains a multi-octet sequence split by line folding

When a multi-octet sequence is split due to simple byte-based folding of lines in an iCalendar file, the parser fails with an `ArgumentError` (invalid byte sequence in UTF-8).

This issue was mentioned in [RFC 5545 Section 3.1](https://tools.ietf.org/html/rfc5545#section-3.1):

> It is possible for very simple implementations to generate improperly folded lines in the middle of a UTF-8 multi-octet sequence. For this reason, implementations need to unfold lines in such a way to properly restore the original sequence.

To replicate, pass the contents of this [sample iCalendar file](https://github.com/icalendar/icalendar/files/5165197/sample.ics.txt) into `ICalendar::Calendar.parse`. In the event description, a UTF-8 non-breaking space was split into two bytes (`0xC2` and `0xA0`) on separate lines.

Some quick notes on this. Given the current implementation, `sample.ics` linked above can be successfully parsed with:

```
data = File.open("sample.ics", "rb") do |f|
  f.read.gsub(/\r?\n[ \t]/, "").force_encoding(Encoding::UTF_8)
end
Icalendar::Calendar.parse(data)
```

Still thinking about the best way to implement that in a backwards compatible way in the library.

@va7map thank you for this report and sample file.